@font-face {
    font-family: 'latobold';
    src: url('../lato-bold-webfont.woff2') format('woff2'),
    url('../lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'railway';
    src: url('../railway-webfont.woff2') format('woff2'),
    url('../railway-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'titillium';
    src: url('../titillium-regularitalic-webfont.woff2') format('woff2'),
    url('../titillium-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.bg-header{
    background-image:url("../images/header/header.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#back2Top {
    height: 35px;
    width: 35px !important;
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 70px;
    right: 30px;
    background-color: black;
    color: #4eadff;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #86cca8;
    color: white;
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-image: url("../images/header/header.png");
    background-attachment: fixed;
}

.text-web{
    color: #eab40f;
}


/*************************MENU***************************/
.img-responsive{
    margin-top: 64px;
    height: 550px;
    width: 100%;
}

.triangle-logo{
    width: 170px;
    height: 120px;
    margin-top: 45px;
}

.logo-responsive{
    height: 35px;
    width: 83px;
    /*margin-right: 10px;*/
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem;
}


.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-family: latobold;
}


.header-element{
    padding-top: 85px;
    text-align: center;
}

.header-element h1{
    margin: 0;
    padding: 25px 0 0 0;
    font-family: latobold;
    font-size: 120px;
    color: white;
}

.wave-responsive{
    padding-top: 120px;
}

/***********************services*********************************/



.bg-services{
    /*background-image: url("../images/services/baby-3.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*!*min-height: 913px;*!*/
    /*!*width: 100%;*!*/
    padding-bottom: 120px;
    background-color: white;
}


.content-title{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
}

.content-title h1 {
    font-size: 40px;
    font-family: railway;
    color: #4eadff;
    font-weight: bold;
}

.content-title small{
    font-family: titillium;
    font-size: 18px;
    color: #4d4d4d;
}

.service-box{
    height: 200px;
    width: 260px;
    background-color: white;
    margin-bottom: 10%;
    text-align: center;
    padding-top: 10px;
    border: 1px solid #edf2f6;
    transition: 1s;
    opacity: 0.85;
}

.service-box p{
    font-family: latobold;
    font-size: 16px;
    color: black;
    padding: 0 5%;
}

.service-box:hover{
    transform: scale(1.03);
    opacity: 1;
    box-shadow: 0px 0px 30px 0px rgba(160, 235, 255, 0.6);
    /*transition: 0.3s ease-in-out;*/
}

.inner-service{
    height: 135px;
}

/*.service-box .btn-hover-p{*/
    /*display: none;*/
/*}*/

/*.service-box:hover .btn-hover-p{*/
    /*display: block;*/
/*}*/
.service-box:hover i{
    color: #4eadff;
}

/****************************PACKAGES***********************/
.bg-packages{
    min-height: 980px;
    background-color: #f3f9ff;
    background-attachment: fixed;
}


.img-top-one{
    background-image: url("../images/packages/top.png");
    height: 45px;
    width: 220px;
    float: left;
}

.img-top-two{
    background-image: url("../images/packages/top2.png");
    height: 25px;
    width: 25px;
    float: left;
}

.for-day{
    font: 17px Lato Black;
    color: white;
    margin: auto;
    padding-top: 12px;
}

.package-top{
    height: 460px;
    background-color: #ffffff;
    margin-top: 23px;
    width: 100%;
}

.tk-one{
    padding-top: 60px;
    font: 48px Bebas;
    color: #003b6d;
}

.tk-two{
    font: 18px Bebas;
    padding-top: 20px;
}

.tk-per-day{
    font: 18px Lato Bold;
    color: #eab40f;
    padding-bottom: 20px;
}

.package-every{
    font: 25px Raleway Medium;
    padding-top: 40px;
    color: #003b6d;
    padding-bottom: 45px;
}

.pack{
    filter: blur(3px);
}

.pack:hover{
    filter: blur(0px);
}

/*.image{*/
    /*background-image: url("../images/packages/btn.png");*/
    /*height: 40px;*/
    /*width: 150px;*/
/*}*/

.bkash-section{
    padding-top: 40px;
    padding-bottom: 100px;
}


.bkash:hover{
    transform: scale(1.03);
    opacity: 1;
    box-shadow: 0px 0px 30px 0px rgba(160, 235, 255, 0.6);
    transition: .5s;
}


.img-responsive2{
    height: 100%;
    width: 100%;
}

.btn-hover-p {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /*margin-top: 60px;*/
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    /*border-radius: 50px;*/
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-p:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover-p:focus {
    outline: none;
}

.btn-hover-p.color-3 {
    background-image: linear-gradient(to right,  #4eadff,  #61dbff,  #047ce3, #4eadff);
    /*box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);*/
}


/********************************REGES******************************/
.bg-reges{
    min-height: 1000px;
    width: 100%;
    background-color: white;
    background-attachment: fixed;
}

.bg-reges p{
    font-family: railway;
    font-size: 16px;
}

select {
    /*-webkit-appearance: none;*/
    /*-webkit-border-radius: 10px;*/
    height: 50px;
    width: 260px;
    border-radius: 25px;
    padding: 1.5% 5%;
    margin-top: 60px;
}

select:focus,select:active {
    outline: none !important;
    box-shadow: none;
}


.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 260px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right,  #4eadff,  #61dbff,  #047ce3, #4eadff);
    /*box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);*/
}

.online-css{
    border-left: 1px solid grey;
}

.online-css h3{
    margin-top: 210px;
}

/**************************************NEWS********************************/
.bg-news{
    /*background-image: url("../images/News & Event/Untitled-1.png");*/
    background: linear-gradient(#eef4fa, transparent), url("../images/news/Untitled-1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 120px;
}

.news-image{
    height: 115px;
    width: 115px;
    border-radius: 15px;
    /*margin-right: 20px;*/
}

.news-box p{
    font-family: railway;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/****************************PARTNERS**********************************/
.bg-partners{
    min-height: 220px;
    padding: 80px 0px;
    /*background-color: white;*/
    /*background-attachment: fixed;*/
}

.parteners-logo{
    height: 60px;
    width: 60px;
    margin-right: 40px;
}


/****************************************FOOTER****************************/
.bg-top-foot{
    background-image: url("../images/header/header.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}


.bg-top-foot h2{
    padding-top: 20px;
    font-size: 26px;
    color: white;
    font-family: railway;
}

.bg-top-foot p{
    font-family: latobold;
    font-size: 16px;
    color: white;
    text-align: justify;
    /*padding: 0 15% 0 0.5%;*/
}

.footer-logo{
    height: 50px;
    width: 115px;
}

.bg-middele-foot{
    min-height: 50px;
    width: 100%;
    background-color: #1b1e21;
}
.text-lemon{
    color: #86cca8;
}

.bg-middele-foot p{
    color: white;
    font-family: latobold;
    size: 16px;
    padding-top: 15px;
}

.bg-last-foot{
    height: 5px;
    width: 100%;
    background-color: #303030;
}

.footer-align{
    text-align: center;
}

